<body>
<table>
    <tr>
        <td>id</td>
        <td>libFormation</td>
        <td>description</td>
        <td>dateDebut</td>
        <td>dateFin</td>
        <td>prix</td>


<h3 id="idListe">Details formation</h3> <br>
<table class="table">
    
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">LibFormation</th>
        <th scope="col">Description</th>
        <th scope="col">DateDebut</th>
        <th scope="col">DateFin</th>
        <th scope="col">Prix</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let f of formations">
        <th scope="row" >{{f.idFormation}}</th>
        <td>{{f.libFormation}}</td>
        <td>{{f.description}}</td>
        <td>{{f.dateDebut}}</td>
        <td>{{f.dateFin}}</td>
        <td>{{f.prix}}</td>
      </tr>
      
    </tbody>
  </table>

  
    </tr>
    
    
</table>
<button  (click)="retour()" type="button" class="btn btn-secondary">retour</button>
</body>