
<table>
    <tr>
        <td>id</td>
        <td>Nom</td>
        <td>Prenom</td>
        <td>mail</td>
        <td>tel</td>
        <td>Supprimmer</td>
        <td>Modifier</td>
        <td>Contacts</td>
    </tr>

    
    
    <tr *ngFor="let p of prospects">
        <td>{{p.idProspect}}</td>
        <td>{{p.nom}}</td>
        <td>{{p.prenom}}</td>
        <td>{{p.mail}}</td>
        <td>{{p.tel}}</td>
        <td><button (click)="suppr(p.idProspect)" type="button" class="btn btn-primary">Supprimer {{p.nom}}</button></td>
        <td><button (click)="modif(p.idProspect)" type="button" class="btn btn-primary">Modifier {{p.nom}}</button></td>
        <td><button (click)="cont(p.idProspect)" type="button" class="btn btn-primary">Contacts de {{p.nom}}</button></td>
    </tr>

    
    
</table>