<body>
<form (ngSubmit)="modif()">
    Username:<input type="text" name="username" [(ngModel)]="user.username"/><br>
    Password:<input type="password" name="password" [(ngModel)]="user.password"/><br>
    Nom:<input type="text" name="nom" [(ngModel)]="user.nom"/><br>
    Prenom:<input type="text" name="prenom" [(ngModel)]="user.prenom"/><br>
    Mail:<input type="text" name="mail" [(ngModel)]="user.mail"/><br>
    <button type="submit">Valider vos information</button>

</form>
<h4 *ngIf="b!==undefined">Historique de vos formations</h4>
<table *ngIf="b">
    <tr>
        <td>id</td>
        <td>libFormation</td>
        <td>description</td>
        <td>dateDebut</td>
        <td>dateFin</td>
        <td>prix</td>
    </tr>

    
    
    <tr *ngFor="let h of hist">
        <td>{{h.formation.idFormation}}</td>
        <td>{{h.formation.libFormation}}</td>
        <td>{{h.formation.description}}</td>
        <td>{{h.formation.dateDebut}}</td>
        <td>{{h.formation.dateFin}}</td>
        <td>{{h.formation.prix}}</td>
    </tr>

    
    
</table>
<table *ngIf="b===false">
    <tr>
        <td>id</td>
        <td>libFormation</td>
        <td>description</td>
        <td>dateDebut</td>
        <td>dateFin</td>
        <td>prix</td>
    </tr>

    
    
    <tr *ngFor="let h of histf">
        <td>{{h.formation.idFormation}}</td>
        <td>{{h.formation.libFormation}}</td>
        <td>{{h.formation.description}}</td>
        <td>{{h.formation.dateDebut}}</td>
        <td>{{h.formation.dateFin}}</td>
        <td>{{h.formation.prix}}</td>
    </tr>

    
    
</table>
<button *ngIf="user.role.librole===part" (click)="paye()" type="button" class="btn btn-secondary">Vos paiements</button>

<button *ngIf="user.role.librole===part" (click)="retour1()" type="button" class="btn btn-secondary">retour</button>
<button *ngIf="user.role.librole===fo" (click)="retour2()" type="button" class="btn btn-secondary">retour</button>
<button *ngIf="user.role.librole===ad" (click)="retour3()" type="button" class="btn btn-secondary">retour</button>
<button *ngIf="user.role.librole===ass" (click)="retour4()" type="button" class="btn btn-secondary">retour</button>
<button *ngIf="user.role.librole===com" (click)="retour5()" type="button" class="btn btn-secondary">retour</button>
</body>
