<p>Modifier une formation</p>


<form (ngSubmit)="modif()" >
    Nom de la Formation: <input type="text" name="libFormation" [(ngModel)]="f.libFormation" /><br>
    Description: <input type="text" name="description" [(ngModel)]="f.description" /><br>
    Date de Debut: {{f.dateDebut}} <br>
    nouvelle Date de Debut: <input type="date" name="datedebu" [(ngModel)]="datedebu"/> <br>
    Date de Fin: {{f.dateFin}} <br>
    nouvelle Date de Fin: <input type="date" name="datefin" [(ngModel)]="datefin"/> <br>
    Prix: <input type="number" name="prix" [(ngModel)]="f.prix"/> <br>

  
   
    Attribuer un Formateur: 
    <select [(ngModel)]="forma" name="forma">
        <option *ngFor="let fo of formateurs" value="{{fo.id}}">{{fo.nom}}</option>
    </select>

   
    <button type="submit">Valider</button>
</form> <br>

<button (click)="retour()"> Retour </button> <br> <br>



