<p>quiz works!</p>


<body>
    


<!--Timer-->
<section class="section coming-soon" data-section="section3">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-xs-12">
          <div class="continer centerIt">
            <div>
              <div class="counter">
                <div class="minutes">
                  <div class="value">00</div>
                  <span>Minutes</span>
                </div>

                <div class="seconds">
                  <div class="value">00</div>
                  <span>Seconds</span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div></div>
        
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row justify-content-between align-items-center mcq">
                        <h4>Quiz compétences</h4><span>(1 of tant de questions)</span></div>
                </div>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">Which of the following country has largest population?</h5>
                    </div><div class="ans ml-2">

<label class="radio"> <input type="radio" name="brazil" value="brazil"> <span>Brazil</span>
</label>    
</div><div class="ans ml-2">
<label class="radio"> <input type="radio" name="Germany" value="Germany"> <span>Germany</span>
</label>    
</div><div class="ans ml-2">
<label class="radio"> <input type="radio" name="Indonesia" value="Indonesia"> <span>Indonesia</span>
</label>    
</div><div class="ans ml-2">
<label class="radio"> <input type="radio" name="Russia" value="Russia"> <span>Russia</span>
</label>    
</div></div>
                <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-secondary d-flex align-items-center btn-danger" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;Precedant</button><button class="btn btn-secondary border-success align-items-center btn-success" type="button">Suivant<i class="fa fa-angle-right ml-2"></i></button></div>
            </div>
        </div>
    </div>
</div>
</section>


</body>


<!-- Exemple fomulaire ngSubmit avec bouton 

    <div class="form-body">
  <div class="row">
      <div class="form-holder">
          <div class="form-content">
              <div class="form-items">
                  <h3>Ajouter un paiement</h3>
                  <p>Remplir les informations ci-dessous</p>
                  <form (ngSubmit)="SavePaiement()" class="requires-validation" novalidate>

                    
                      <div class="col-md-12">
                        Type de paiement : <br> <br>
                        <div class="col-md-12">
                        <input type="radio" id="solde" class="button" name="choixPaiement" value="solde" [(ngModel)]="choixPaiement">
                        <label for="solde" id="idRadio">  Porte-Monnaie</label>
                      </div>

                      <div class="col-md-12">
                        <input type="radio" id="cb" name="choixPaiement" value="cb" class="button" [(ngModel)]="choixPaiement">
                      <label for="cb" id="idRadio">  Carte bancaire</label>
                    </div>
                    <br>


                      <div class="col-md-12">
                      Montant total a payer :   {{paiement.reste}}
                       </div>

                       <div class="col-md-12">
                      Montant du paiement : 
                      <input type="text" class="form-control" name="valeur"  [(ngModel)]="valeur"/>   
                    </div>

            

                      <div class="form-button mt-3">
                          <button id="submit" type="submit" class="btn btn-primary">Payer</button>
                      </div>
                      </div>
                    </form>
             
              </div>
          </div>
      </div>
  </div>
</div> <br> <br>
-->


