<p>Ajouter Une Formation</p>

<form (ngSubmit)="ajouter()" >
    Nom de la Formation: <input type="text" name="libFormation" [(ngModel)]="f.libFormation" /><br>
    Description: <input type="text" name="description" [(ngModel)]="f.description" /><br>
    Date de Debut: <input type="text" name="dateDebut" [(ngModel)]="f.dateDebut"/> <br>
    Date de Fin: <input type="text" name="dateFin" [(ngModel)]="f.dateFin"/> <br>
    Prix: <input type="number" name="prix" [(ngModel)]="f.prix"/> <br>

    Formateur: <td>Formateurs</td>
    <select [(ngModel)]="selectedValue" name="selectedValue">
        <option *ngFor="let form of formateurs" [ngValue]="form">{{form.nom}}</option>
    </select>

    
    <button type="submit">Valider</button>
</form> <br>
 
<button (click)="retour()"> Retour Accueil </button> <br> <br>



