<p>acceuil-admin works!</p>
<button (click)="gestionformation()" type="button" class="btn btn-primary">Inscription</button>
<button (click)="gestionformateur()" type="button" class="btn btn-secondary btn-rounded">Connection</button>
<!-- <button (click)="logout()" type="button" class="btn btn-success btn-rounded">deconnection</button>
<button (click)="afficherProduits()" type="button" class="btn btn-danger btn-rounded">Afficher liste des produits</button>
<button (click)="afficherProduitsC()" type="button" class="btn btn-warning btn-rounded">Afficher liste des produits pour les clients</button>
<button (click)="afficherPaniers()" type="button" class="btn btn-info btn-rounded">Faire son panier</button>
<button (click)="afficherCommandes()" type="button" class="btn btn-light btn-rounded">Afficher les commandes</button> -->
