<!-- <body>

<form (ngSubmit)="ajoutQuizz()">

   

    Score pour valider question : 
    <input type="number" name="noteReussite" [(ngModel)]="noteReussite"> <br>

    Nombre de questions que vous voulez ajouter : 
    <input type="number" name="nbQuestion" [(ngModel)]="nbQuestion"> <br>

    Formation concernee : 
    <input type="resultat" name="resultats" [(ngModel)]="resultats"> <br>
    
    Questions :
    <input type="text" name="question" [(ngModel)]="question"/> <br>
  

    Reponse attendue : 
    <input type="text" name="reponse" [(ngModel)]="reponse"/> <br>

    <div *ngIf="typeReponse === qcu || typeReponse === qcm">
        Autre reponse fausse : 
        <br>
        <input type="text" name="faux1" [(ngModel)]="faux1"/>
        <br>
        <input type="text" name="faux2" [(ngModel)]="faux2"/>
        <br>
        <input type="text" name="faux3" [(ngModel)]="faux3"/>
    </div>
    <br>
    Temps de reponse : 
    <br>
    <input type="text" name="temps" [(ngModel)]="temps"/>-->


    <!-- Question :
    <br>
        <input type="text" name="question" [(ngModel)]="question"/>
    <br> 

    Type de reponse :
    <br>
        <input type="radio" id="texte" class="button" name="typeReponse" value="texte" [(ngModel)]="typeReponse">
        <label for="texte" id="idRadio">  Texte</label>
        <br>
        <input type="radio" id="qcu" class="button" name="typeReponse" value="qcu" [(ngModel)]="typeReponse">
        <label for="qcu" id="idRadio">  Question choix unique</label>
        <br>
        <input type="radio" id="qcm" class="button" name="typeReponse" value="qcm" [(ngModel)]="typeReponse">
        <label for="qcm" id="idRadio">  Question choix multiple</label>
    <br> 
   
    Reponse attendue : 
    <br>
    <input type="text" name="reponse" [(ngModel)]="reponse"/>
    <br>
    <div *ngIf="typeReponse === qcu || typeReponse === qcm">
        Autre reponse fausse : 
        <br>
        <input type="text" name="faux1" [(ngModel)]="faux1"/>
        <br>
        <input type="text" name="faux2" [(ngModel)]="faux2"/>
        <br>
        <input type="text" name="faux3" [(ngModel)]="faux3"/>
    </div>
    <br>
    Temps de reponse : 
    <br>
    <input type="text" name="temps" [(ngModel)]="temps"/>-->

</form>

</body> -->
