
<table>
    <tr>
        <td>ID Paiement</td>
        <td>Date Facturation</td>
        <td>Montant</td>
        <td>Reste</td>
        <td>Date Dernier Paiement</td>
        <td>Date Prochain Paiement</td>
        <td>Participant</td>
        <td>Supprimmer</td>
        <td>Modifier</td>
        <td>Voir relances paiement</td>
    </tr>

    
    
    <tr *ngFor="let p of paiements">
        <td>{{p.idPaiement}}</td>
        <td>{{p.dateFacture}}</td>
        <td>{{p.montant}}</td>
        <td>{{p.reste}}</td>
        <td>{{p.dateDernierPaiement}}</td>
        <td>{{p.dateProchainPaiement}}</td>
        <td><button (click)="versPaiementParticipant(p.participant.id)" type="button" class="btn btn-primary">{{p.participant.nom}} {{p.participant.prenom}}</button></td>
        <td><button (click)="suppr(p.idPaiement)" type="button" class="btn btn-primary">Supprimer</button></td>
        <td><button (click)="modif(p.idPaiement)" type="button" class="btn btn-primary">Modifier</button></td>
        <td><button (click)="relance(p.participant.id)" type="button" class="btn btn-primary">Relancer les participants</button></td>
    </tr>

   
    
</table>