@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Pied de page */
footer {
    position:relative;
    bottom:0px; left:0; right:0;
  background-color: #18233a;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
footer .social-media{
  display: flex;
}
footer .social-media p{
  margin-right: 15px;
  margin-left: 13px;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 3px;
  text-align:center;
  width: 30px;
  cursor:pointer;
}
/* Fin du pied de page */

@media screen and (max-width: 640px){
  nav .onglets .link, nav h1{
    display:flex;
  }
  .cards .card img{
    width: 300px;
  }
}
