<body>


 <!-- 
<h3>Historique de vos formations</h3>

 
    <table>
        <tr>
            <td>IdFormation</td>
            <td>Nom Formation</td>
            <td>Description</td>
            <td>Date de début</td>
            <td>Date de fin</td>
            <td>Prix</td>

            <td>Participants</td>
            
        </tr>
    
        
        <tr *ngFor="let h of historique">
        <td>{{h.formation.idFormation}}</td>
        <td>{{h.formation.libFormation}}</td>
        <td>{{h.formation.description}}</td>
        <td>{{h.formation.dateDebut}}</td>
        <td>{{h.formation.dateFin}}</td>
        <td>{{h.formation.prix}}</td>
        <td><p *ngFor="let p of h.formation.participants">{{p.nom}}</p></td>
    
       
      
        </tr>
  
     
    </table> -->
    <br>
   



    <h3 id="idListe">Historique de vos formations</h3> <br> <br>
<table class="table">
       
        <thead>
          <tr>
            <th scope="col">IdFormation</th>
            <th scope="col">Nom Formation</th>
            <th scope="col">Description</th>
            <th scope="col">Date de début</th>
            <th scope="col">Date de fin</th>
            <th scope="col">Prix</th>
           
            <th scope="col">Participants</th>
    
          </tr>
        </thead>
      
        <tbody>
    
          <tr *ngFor="let h of historique">
            <td>{{h.formation.idFormation}}</td>
        <td>{{h.formation.libFormation}}</td>
        <td>{{h.formation.description}}</td>
        <td>{{h.formation.dateDebut}}</td>
        <td>{{h.formation.dateFin}}</td>
        <td>{{h.formation.prix}}</td>
        <td><button (click)="participantsAssocies(h.formation.idFormation)" class="btn btn-secondary">Liste des participants</button></td> 
          </tr>
    </table>
    <br>
    <h3 id="idListe">Liste des Formations du centre</h3>
    <br>
    <table class="table">
      <thead>
        <tr>
            <th>id</th>
            <th>libFormation</th>
            <th>description</th>
            <th>dateDebut</th>
            <th>dateFin</th>
            <th>prix</th>
        </tr>
      </thead>
        
      <tbody>
        <tr *ngFor="let f of formations;let i=index">

            <td>{{f.idFormation}}</td>
            <td>{{f.libFormation}}</td>
            <td>{{f.description}}</td>
            <td>{{f.dateDebut}}</td>
            <td>{{f.dateFin}}</td>
            <td>{{f.prix}}</td>
           
            </tr>
      </tbody>
    
       
      </table>







      
    
<br>
<button (click)="retour()" class="btn btn-secondary"> Retour Gestion Formation </button><br>
<button (click)="crerquizz()" class="btn btn-secondary">Creer un quizz</button>
       
    
        


</body>