<body>
<form (ngSubmit)="SaveFormateur()">
    <input type="hidden" name="id"  [(ngModel)]="u.id"/><br>
    Nom:<input type="text" name="nom"  [(ngModel)]="u.nom"/><br>
    Prenom:<input type="text" name="prenom" [(ngModel)]="u.prenom"/><br>
    Username:<input type="text" name="username" [(ngModel)]="u.username"/><br>
    Password:<input type="password" name="password" [(ngModel)]="u.password"/><br>
    Mail:<input type="text" name="mail" [(ngModel)]="u.mail"/><br>

    <button type="submit">Valider</button>

</form>
</body>
